.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.white {
  background: #fff;
}
.modal-dialog {
  margin: 120px auto;
}
.f-right {
  float: right;
}
.col-center {
  float: none;
  margin: 0 auto;
}
.nomarg {
  margin: 0;
}
