.petitions-page {
  .panel-title {
    margin: 18px 18px 0;
  }
  .input {
    padding-bottom: 10px;
  }
  .selectize-input {
    background: #fff !important;
    padding-left: 10px !important;
  }
  form.form {
    padding: 5px 25px;
  }
  input, textarea, select {
    font-weight: bold;
  }
}
