.profile-form {

  //.datepicker {
  //  position: absolute;
  //  background: #fff;
  //  opacity: 1;
  //  z-index: 5;
  //  border: 1px solid #D8D8D8;
  //}
  .works-o-service {
    input {
      text-align: center;
      width: 35px;
      display:inline-block;
    }
    span {
      padding: 0 12px;
    }
  }
  td.name {
    padding-right: 5px;
    min-width: 220px;
  }
  td.input {
    width: 100%;
  }
  .selectize-control {
    border-bottom: 1px solid #D2D2D2;
    border-radius: 0;
  }
  .add-item {
    float: right;
  }
}
.profile-award-form {
  td input,td textarea {
    width: 100% !important;
  }
  .selectize-control, .selectize-control * {
    width: 100%;
  }
  .radio label {
    display: block;
    margin-bottom: 5px;
  }
}
